* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 3pt;
}

window#waybar {
  color: #ebdbb2;
  background: none;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 11pt;
  font-weight: 900;
}

#custom-rofi,
#mode,
#submap,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  color: #ebdbb2;
  background: #222222;
  border: 2.5pt solid #222222;
  padding-right: 3pt;
}

#custom-rofi {
  color: #222222;
  background: #83a598;
  padding: 0 6pt;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0 3.75pt;
  margin-right: 3pt;
  min-width: 15pt;
  color: #ebdbb2;
  background: #222222;
  border: 2.5pt solid #222222;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #222222;
  background: #d3869b;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #222222;
  background: #8ec07c;
}

#workspaces button.urgent {
  color: #222222;
  background: #ea6962;
}

#window {
  color: #d3869b;
}

#tray {
  padding: 0 6pt;
  background: #222222;
}

#disk {
  color: #ea6962;
}

#cpu {
  color: #e78a4e;
}

#custom-cpu_temp {
  color: #d8a657;
}

#custom-cpu_temp.critical {
  color: #cc241d;
}

#custom-cpu_temp.unknown {
  color: #555555;
}

#backlight {
  color: #f6c657;
}

#custom-memory {
  color: #458588;
}

#pulseaudio {
  color: #83a598;
}

#pulseaudio.muted {
  color: #ea6962;
}

#battery {
  color: #689d68;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #e78a4e;
}

#clock {
  color: #8ec07c;
}

#network {
  color: #d3869b;
}

#mode,
#submap {
  color: #222222;
  background: #83a598;
  padding: 0 4.5pt;
}
