* {
  padding: 0;
  min-height: 0;
  margin: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  border-radius: 0;
}

window#waybar {
  background: none;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 11pt;
  font-weight: 900;
  color: #ebdbb2;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
  background: #222222;
}

#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  border: 2pt solid #585858;
  color: #fff4d2;
  background-color: #333333;
  padding-right: 4.5pt;
}

#custom-rofi {
  color: #000000;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0pt 6pt;
}

#workspaces button {
  color: #fff4d2;
  background-color: #333333;
  border: 2pt solid #585858;
  min-width: 15pt;
  margin-right: 3pt;
  padding: 0pt 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #222222;
  background: #d3869b;
  border-color: #b26286;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #000000;
  background: #8ec07c;
  border-color: #689d68;
}

#workspaces button.urgent {
  color: #222222;
  border-color: #cc241d;
  background: #ea6962;
}

#custom-cpu_temp.critical {
  background-color: #b22222;
  border: 2pt solid #b22222;
}

#custom-cpu_temp.unknown {
  color: #555555;
}

#pulseaudio.muted {
  border: 2pt solid #ea6962;
}

#battery.critical {
  border: 2pt solid #b22222;
}

#battery.warning {
  border: 2pt solid #e78a4e;
}

#tray {
  color: #fff4d2;
  background-color: #383838;
  border: 2pt solid #585858;
  padding: 0 6pt;
}

#mode,
#submap {
  color: #000000;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0pt 6pt;
}
