/* ===== COLORS ===== */
@define-color bg #222222;
@define-color fg #ebdbb2;
@define-color black #000000;
@define-color white-soft #fff4d2;

@define-color red #ea6962;
@define-color red-dark #cc241d;

@define-color orange #e78a4e;
@define-color yellow #f6c657;
@define-color yellow-soft #d8a657;

@define-color green #8ec07c;
@define-color green-dark #689d68;

@define-color blue #83a598;
@define-color blue-dark #458588;

@define-color pink #d3869b;
@define-color pink-dark #b26286;

@define-color gray #555555;


/* ===== GLOBAL ===== */
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  color: @fg;
  background: none;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 12pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
  background: @bg;
}

/* ===== COMMON PADDING ===== */
#custom-launcher,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 6pt;
}

/* ===== MODULES ===== */
#custom-launcher {
  color: @black;
  border: 2pt solid @blue-dark;
  background: @blue;
  padding: 0pt 6pt;
}

/* ===== WORKSPACES ===== */
#workspaces button {
  color: @white-soft;
  background: @bg;
  border: 2pt solid @white-soft;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @bg;
  background: @pink;
  border-color: @pink-dark;
}

#workspaces button.visible,
#workspaces button.visible:hover {
  color: @black;
  border-color: @green-dark;
  background: @green;
}

#workspaces button.urgent {
  color: @bg;
  border-color: @red-dark;
  background: @red;
}

/* ===== INDIVIDUAL MODULE STYLES ===== */
#window {
  border: 2pt solid @pink;
}

#tray {
  border: 2pt solid @orange;
  padding: 0 6pt;
}

#disk {
  border: 2pt solid @red;
}

#cpu {
  border: 2pt solid @orange;
}

#custom-cpu_temp {
  border: 2pt solid @yellow-soft;
}

#custom-cpu_temp.critical {
  color: @red-dark;
  border: 2pt solid @red-dark;
}

#custom-cpu_temp.unknown {
  border: 2pt solid @gray;
}

#backlight {
  border: 2pt solid @yellow;
}

#custom-memory {
  border: 2pt solid @blue-dark;
}

#pulseaudio {
  border: 2pt solid @blue;
}

#pulseaudio.muted {
  border: 2pt solid @red;
  color: @red;
}

#battery {
  border: 2pt solid @green-dark;
}

#battery.critical {
  border: 2pt solid @red-dark;
}

#battery.warning {
  border: 2pt solid @orange;
}

#clock {
  border: 2pt solid @green;
}

#network {
  border: 2pt solid @pink;
}

#mode {
  color: @blue;
  border: 2pt solid @blue;
  padding: 0 7.5pt;
}
