* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  color: #ebdbb2;
  background: none;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 16px;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 5px;
  background: #222222;
}

#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 8;
}

#custom-rofi {
  color: #000000;
  border: 3px solid #458588;
  background: #83a598;
  padding: 0px 8px;
}

#workspaces button {
  color: #fff4d2;
  border: 3px solid #fff4d2;
  margin: 0px 3px;
  min-width: 22px;
  padding: 0 6;
}

#workspaces button:hover {
  color: #222222;
  background: #d3869b;
  border: 3px solid #b26286;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #000000;
  border: 3px solid #689d68;
  background: #8ec07c;
}

#workspaces button.urgent {
  color: #222222;
  border: 3px solid #cc241d;
  background: #ea6962;
}

#window {
  border: 3px solid #d3869b;
}

#tray {
  border: 3px solid #e78a4e;
  padding: 0 8;
}

#disk {
  border: 3px solid #ea6962;
}

#cpu {
  border: 3px solid #e78a4e;
}

#custom-cpu_temp {
  border: 3px solid #d8a657;
}

#custom-cpu_temp.critical {
  color: #cc241d;
  border: 3px solid #cc241d;
}

#custom-cpu_temp.unknown {
  border: 3px solid #555555;
}

#backlight {
  border: 3px solid #f6c657;
}

#custom-memory {
  border: 3px solid #458588;
}

#pulseaudio {
  border: 3px solid #83a598;
}

#pulseaudio.muted {
  border: 3px solid #ea6962;
  color: #ea6962;
}

#battery {
  border: 3px solid #689d68;
}

#battery.critical {
  border: 3px solid #cc241d;
}

#battery.warning {
  border: 3px solid #e78a4e;
}

#clock {
  border: 3px solid #8ec07c;
}

#network {
  border: 3px solid #d3869b;
}

#mode,
#submap {
  color: #83a598;
  border: 3px solid #83a598;
  padding: 0 10;
}
