@-moz-document url("about:home"), url("about:blank"), url("about:newtab"), url("about:privatebrowsing"), url("chrome://browser/content/blanktab.html") {
  .click-target-container *,
  .top-sites-list * {
    color: #fff !important;
  }
  body,
  body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: #000 no-repeat url(img/wall.png) center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}
