* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 4;
}

window#waybar {
  color: #fff4d2;
  background: #202020;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 16px;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 5px;
}

#workspaces button {
  color: #fff4d2;
  background: #222222;
  border: 3px solid #fff4d2;
  min-width: 20px;
  padding: 0 5px;
  margin-right: 5px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #202020;
  background: #d3869b;
  border: 3px solid #b16286;
  min-width: 22px;
}

#workspaces button.visible,
#workspaces button.visible:hover {
  color: #202020;
  border: 3px solid #689d68;
  background: #8ec07c;
}

#workspaces button.urgent {
  color: #202020;
  border: 3px solid #cc241d;
  background: #ea6962;
}

#custom-rofi {
  color: #202020;
  border: 3px solid #458588;
  background: #83a598;
  padding: 0 8px;
}

#window {
  border-bottom: 3px solid #d3869b;
}

#tray {
  border: 3px solid #e78a4e;
  padding: 0 8;
}

#disk {
  border-bottom: 3px solid #ea6962;
}

#cpu {
  border-bottom: 3px solid #e78a4e;
}

#custom-cpu_temp {
  border-bottom: 3px solid #d8a657;
}

#custom-cpu_temp.critical {
  color: #cc241d;
  border-bottom: 3px solid #cc241d;
}

#custom-cpu_temp.unknown {
  color: #555555;
  border-bottom: 3px solid #555555;
}

#backlight {
  border-bottom: 3px solid #f6c657;
}

#custom-memory {
  border-bottom: 3px solid #458588;
}

#pulseaudio {
  border-bottom: 3px solid #83a598;
}

#pulseaudio.muted {
  color: #ea6962;
  border-bottom: 3px solid #ea6962;
}

#battery {
  border-bottom: 3px solid #689d68;
}

#battery.critical {
  color: #cc241d;
  border-bottom: 3px solid #cc241d;
}

#battery.warning {
  color: #e78a4e;
  border-bottom: 3px solid #e78a4e;
}

#battery.charging.warning {
  color: #689d68;
  border-bottom: 3px solid #689d68;
}

#clock {
  border-bottom: 3px solid #8ec07c;
}

#network {
  border-bottom: 3px solid #d3869b;
}

#mode,
#submap {
  color: #202020;
  border: 2px solid #458588;
  background: #83a598;
  padding: 0 6px;
}
