* {
  margin : 0;
  padding : 0;
  spacing : 0;
  dark : #222222;
  red : #ea6962;
  red-alt : #ca3433;
  yellow : #d8a657;
  cream : #d4be98;
  highlight : underline bold #ca3433;
  font : "JetBrainsMono Nerd Font Propo ExtraBold 14";
}

configuration {
  display-drun : "APPS";
  display-run : "CMD";
  display-window : "WIN";
}

window {
  width : 25%;
  border : 3;
  border-color : @yellow;
  background-color : @dark;
  location : center;
  orientaion : horizontal;
  children : [inputbar, message, listview];
}

inputbar {
  background-color : @dark;
  children : [prompt,entry];
}

prompt {
  margin : 6 0 6 6;
  padding : 3 6;
  text-color : @dark;
  border : 3;
  border-color : @red;
  background-color : @red;
}

entry {
  margin : 6;
  padding : 3 6;
  text-color : @red;
  border : 3;
  border-color : @yellow;
  background-color : @dark;
}

listview {
  lines : 8;
  children : [element];
  margin : 0 6 6 6;
  padding : 6 6 0 6;
  border : 3;
  border-color : @yellow;
  background-color : @dark;
}

element {
  margin : 0 0 6 0 ;
  background-color : @dark;
}

element selected active {
  text-color : @cream;
  background-color : @red-alt;
}

element-text {
  padding : 6;
  text-color : @cream;
  background-color : @dark;
}

element-text selected {
  text-color : @dark;
  background-color : @yellow;
}

element-text selected active {
  text-color : @cream;
  background-color : @red-alt;
}

element-icon{
  size : 20;
  padding : 6;
  background-color : @dark;
}

element-icon selected {
  text-color : @dark;
  background-color : @yellow;
}

element-icon selected active {
  text-color : @cream;
  background-color : @red-alt;
}

message {
  margin : 0;
  expand : true;
  background-color : @dark;
  children : [textbox];
}

textbox {
  expand : true;
  padding : 6;
  border-color : @red-alt;
  background-color : @dark;
  text-color : @red-alt;
}

error-message {
  expand : true;
  text-color : @dark;
}
