/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

/* the whole window */
window#waybar {
  background: #1d1d1d;
  color: #fff4d2;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 1;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #fff4d2;
  padding: 0 4px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 28px;
  font-weight: 800;
}

#workspaces button:hover {
  color: #d3869b;
  background: none;
}

#workspaces button.visible {
  color: #8ec07c;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 28px;
  font-weight: 800;
  box-shadow: inset 0 -3px #689d6a;
  border-radius: 0;
  padding: 0 4px;
}

#workspaces button.visible:hover {
  color: #8ec07c;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 28px;
  font-weight: 800;
  box-shadow: inset 0 -3px #689d6a;
  border-radius: 0;
  padding: 0 4px;
}

#workspaces button.active {
  color: #8ec07c;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 28px;
  font-weight: 800;
  box-shadow: inset 0 -3px #689d6a;
  border-radius: 0;
  padding: 0 4px;
}

#workspaces button.active:hover {
  color: #8ec07c;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 28px;
  font-weight: 800;
  box-shadow: inset 0 -3px #689d6a;
  border-radius: 0;
  padding: 0 4px;
}

#workspaces button.urgent {
  color: #ea6962;
  box-shadow: inset 0 -3px #ea6966;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #d3869b;
  background: none;
  margin: 0 8px;
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  box-shadow: inset 0 -3px #d3869b;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  margin: 0 3px;
  padding: 0 8px;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #ea6962;
  margin: 0 3px;
  box-shadow: inset 0 -3px #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #e78a4e;
  margin: 0 3px;
  box-shadow: inset 0 -3px #e78a4e;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #d8a657;
  margin: 0 3px;
  box-shadow: inset 0 -3px #d8a657;
}

#temperature.critical {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #cc241d;
  margin: 0 3px;
  box-shadow: inset 0 -3px #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #f6c657;
  margin: 0 3px;
  box-shadow: inset 0 -3px #f6c657;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #458588;
  margin: 0 3px;
  box-shadow: inset 0 -3px #458588;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #83a598;
  margin: 0 3px;
  box-shadow: inset 0 -3px #83a598;
}

#pulseaudio.muted {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #ea6962;
  margin: 0 3px;
  box-shadow: inset 0 -3px #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #689d6a;
  margin: 0 3px;
  box-shadow: inset 0 -3px #689d6a;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #8ec07c;
  margin: 0 3px;
  box-shadow: inset 0 -3px #8ec07c;
}
