/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: #1d1d1d;
  color: #fff4d2;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 1;
}

#custom-rofi {
  color: #222222;
  border: 2px solid #458588;
  background-color: #83a598;
  border-radius: 2px;
  padding: 0 6px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #fff4d2;
  background-color: #222222;
  border: 2px solid #fff4d2;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

#workspaces button:hover {
  color: #222222;
  background: #d3869b;
  border: 2px solid #b16286;
}

#workspaces button.visible {
  color: #222222;
  border: 2px solid #689d6a;
  background-color: #8ec07c;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

#workspaces button.visible:hover {
  color: #222222;
  border: 2px solid #689d6a;
  background-color: #8ec07c;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

#workspaces button.active {
  color: #222222;
  border: 2px solid #689d6a;
  background-color: #8ec07c;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

#workspaces button.active:hover {
  color: #222222;
  border: 2px solid #689d6a;
  background-color: #8ec07c;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

#workspaces button.urgent {
  color: #222222;
  border: 2px solid #cc241d;
  background-color: #ea6962;
  border-radius: 2px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 15px;
  font-weight: 800;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #d3869b;
  background: none;
  margin: 4px 8px;
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  border-bottom: 2px solid #d3869b;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  margin: 0 3px;
  padding: 0 8px;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #ea6962;
  margin: 5px 2px;
  border-bottom: 2px solid #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #e78a4e;
  margin: 5px 2px;
  border-bottom: 2px solid #e78a4e;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #d8a657;
  margin: 5px 3px;
  border-bottom: 2px solid #d8a657;
}

#temperature.critical {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #cc241d;
  margin: 5px 3px;
  border-bottom: 2px solid #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #f6c657;
  margin: 5px 3px;
  border-bottom: 2px solid #f6c657;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #458588;
  margin: 5px 3px;
  border-bottom: 2px solid #458588;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #83a598;
  margin: 5px 3px;
  border-bottom: 2px solid #83a598;
}

#pulseaudio.muted {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #ea6962;
  margin: 5px 3px;
  border-bottom: 2px solid #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #689d6a;
  margin: 5px 3px;
  border-bottom: 2px solid #689d6a;
}

#battery.critical {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #cc241d;
  margin: 5px 3px;
  border-bottom: 2px solid #cc241d;
}

#battery.warning {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #e78a4e;
  margin: 5px 3px;
  border-bottom: 2px solid #e78a4e;
}

#battery.chargin.warning {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #689d6a;
  margin: 5px 3px;
  border-bottom: 2px solid #689d6a;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 15px;
  font-weight: 800;
  color: #8ec07c;
  margin: 5px 3px;
  border-bottom: 2px solid #8ec07c;
}
