* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  color: #ebdbb2;
  background: #222222;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 16px;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 0px;
  padding: 0 6px;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding: 2;
  background: rgb(34, 34, 34);
}

#custom-rofi {
  background: rgb(34, 34, 34);
  color: rgb(131, 165, 152);
  border: 3px solid rgb(131, 165, 152);
  padding: 0 9px;
}

#workspaces button {
  color: rgb(255, 244, 210);
  border: 3px solid rgb(255, 244, 210);
  margin: 0px 3px;
  min-width: 22px;
  padding: 0 6;
}

#workspaces button:hover {
  color: rgb(211, 134, 155);
  border: 3px solid rgb(211, 134, 155);
  padding: 0 6;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: rgb(142, 192, 124);
  border: 3px solid rgb(142, 192, 124);
  padding: 0 6;
}

#workspaces button.urgent {
  color: rgb(234, 105, 98);
  border: 3px solid rgb(234, 105, 98);
  padding: 0 6;
}

#window {
  border: 3px solid rgb(211, 134, 155);
}

#tray {
  background: rgb(34, 34, 34);
  border: 3px solid rgb(231, 138, 78);
  padding: 0 10;
}

#disk {
  border: 3px solid rgb(234, 105, 98);
}

#cpu {
  border: 3px solid rgb(231, 138, 78);
}

#custom-cpu_temp {
  border: 3px solid rgb(216, 166, 87);
}

#custom-cpu_temp.critical {
  color: rgb(204, 36, 29);
  border: 3px solid rgb(204, 36, 29);
}

#custom-cpu_temp.unknown {
  border: 3px solid rgb(85, 85, 85);
}

#backlight {
  border: 3px solid rgb(246, 198, 87);
}

#custom-memory {
  border: 3px solid rgb(69, 133, 136);
}

#pulseaudio {
  border: 3px solid rgb(131, 165, 152);
}

#pulseaudio.muted {
  border: 3px solid rgb(234, 105, 98);
  color: rgb(234, 105, 98);
}

#battery {
  border: 3px solid rgb(104, 157, 106);
}

#battery.critical {
  border: 3px solid rgb(204, 36, 29);
}

#battery.warning {
  border: 3px solid rgb(231, 138, 78);
}

#clock {
  border: 3px solid rgb(142, 192, 124);
}

#network {
  border: 3px solid rgb(211, 134, 155);
}

#mode,
#submap {
  background: rgb(34, 34, 34);
  color: rgb(131, 165, 152);
  border: 3px solid rgb(131, 165, 152);
  padding: 0 10;
}
